* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
}
.wrapper {
    width: 90%;
    margin: auto;
}
header,
footer {
    text-align: center;
}
.header-text {
    padding-top: 0.5rem;
}
h1 {
    margin: 0;
    padding: 1.5rem;
    font-size: 1.4em;
    color: white;
    background: #2d3945;
}
h2 {
    font-size: 1.3em;
    color: #2d3945;
}
p {
    font-size: 1em;
    color: #495d70;
}
header p {
    margin-top: -0.3rem;
}
.hr-one {
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    height: 3px;
    border: none;
    border-top: 4px solid #2d3945;
    border-bottom: 2px solid #2d3945;
    /*How to style HR, source: https://www.w3schools.com/howto/howto_css_style_hr.asp*/
}
.hr-two {
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    border: none;
    border-top: 2px solid #2d3945;
}
fieldset {
    border: none;
    margin: auto;
    padding: 0;
}
legend {
    font-size: 1.3em;
    font-weight: 700;
    margin: 1rem 0;
    color: #2d3945;
}
fieldset > input,
select {
    margin: 0.5rem 0;
    height: 3.5rem;
}
label {
    display: inline-block;
    font-size: 1em;
    line-height: 2rem;
    color: #495d70;
}
label + input {
    margin-top: 0;
}
input,
select,
textarea,
button {
    width: 100%;
    border-radius: 4px;
    border: none;
    background: #eee;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline-color: #45698b;
}
input[type=radio],
input[type=checkbox] {
    width: auto;
    margin: 0.3rem;
}
input::placeholder {
    text-align: right;
    color: #999;
}
input:focus::placeholder {
    color: transparent;
    /* Source: https://stackoverflow.com/questions/9707021/how-do-i-auto-hide-placeholder-text-upon-focus-using-css-or-jquery */
}
select:required:invalid { 
    color: #999; 
}
input,
textarea,
select {
    padding: 0.8rem;
}
textarea {
    margin-top: 0.4rem;
    background: #eee;
    border: none;
}
button {
    padding: 1rem 0;
    background: #2b6e6b;
    color: #fff;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
footer {
    color: #495d70;
    margin-bottom: 0.5rem;
}


/*---Media queries---*/
@media screen and (min-width: 768px) {
    .wrapper {
        width: 50%;
    }
   body {
        font-size: large;
    }
    fieldset:first-child {
        display: flex;
        flex-wrap: wrap;
    }
    label {
        flex-basis: 35%;
        align-self: center;
    }
    label + input,
    label + select {
        flex: 1 1 65%;
    }
}

@media screen and (min-width: 1400px) {
    label {
        flex-basis: 20%;
    }

    label + input,
    label + select {
        flex: 1 1 80%;
    }
}